h1{
    color:rgb(19, 7, 7);
    border:2px solid rgb(43, 32, 32);
    font-size:30px;
    font-style: italic;
text-shadow:0 0 3px #00ff15;
text-align: center;
text-transform:lowercase;
text-decoration-color:aqua;
margin:50px;
padding:20px;
}
body{
    /* color:black; */
}
/* div{
    display: flex;
    align-items: center;
    justify-content: center;
} */
h2{
    width:100px;    
    background-color: red;
    height:200px;
    /* transform:translate(50px,100px); */
    transition:linear 1s;
    /* transition-delay:0.5s; */
    /* border-radius:50%; */
    text-align: center;
    /* padding:50px; */

    
}
h2:hover{
    /* transform:translate(50px,100px); */
    background-color: rgb(0, 255, 13);
    /* transform: rotate(-360deg); */
    /* transform:scaleY(1.5); */
    /* transform:scale(0.7,0.3); */
    /* transform:skewX(20deg); */
     transform:skewY(20deg);
    /* width:300px;
    text-align:center;
    background-color:green; */
}
h3{
    background-color:yellow;
    width:100px;
    height:200px;
    animation-name:anima;
    animation-duration:5s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    position:relative;
}

@keyframes anima{
    0%{background-color:blue;}
    25%{background-color:rgb(0, 255, 13);}
    100%{background-color:rgb(255, 0, 149);}
}

#flex{
    display:flex;
    background-color: red;
    gap:10px;
    justify-content: center;
    align-items: center;
    width:300px;
    height:200px;
}

.fx{
    background-color: rgb(55, 0, 255);
    width:50px;
    height:50px;
    /* gap:20px; */
    /* gap:10px; */
    position:relative;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration:2s;
    animation-timing-function:ease-in-out;
    border-radius: 50%;
}

@keyframes bounce{
    0%{top:-10px;}
    25%{top:-20px;}
    50%{top:-30px;}
    100%{top:-50px;}
}

#btn{
    width:100px;
    height:50px;
    background-color: none;
   
}



ul{
display:flex;
justify-content: center;
}

li{
    margin:10px;
    list-style: none;
    width: 50px;
    height:30px;
    display: block;
}
li a{
text-decoration: none;
color:black !important;
display: block;
}
li:hover{
    background-color: blanchedalmond;
    border-radius: 10px;
}
li a::after{
    content:"";
    width:0%;
    height:2px;
    background: #00ff15;
    display: block;
    transition:0.2s linear;

}
li a:hover::after{
    width:100%;
}


.container{
    display:flex;
    width:800px;
    height:300px;
    background-color: red;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */

}
.box{
    width:50px;
    height:50px;
    background-color:#00ff15;
    margin:10px;
    
}
*{
    box-sizing: border-box;
}
@media (min-width:800px) {
    .box{
        flex:100%;
    
    }
    .container{
          background-color: blue;

    }
}

